In [1]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_csv('ocorrencia.csv', sep=',', parse_dates=['ocorrencia_dia'], dayfirst=True)
#df = pd.DataFrame([{'A': 10, 'ocorrencia_dia': '03/07/1987'}])
df

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista,outras,Unnamed: 23
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,03/07/1987,NaN
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO,NaN,NaN
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO,NaN,NaN
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,***,NaN,NaN,NÃO,NaN,0,1,NÃO,NaN,NaN
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,80458,80458,80458,ACIDENTE,-17.999194,-51.642861,JATAÍ,GO,...,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO,NaN,NaN
5163,80452,80452,80452,80452,80452,ACIDENTE,-22.585556,-50.753889,MARACAÍ,SP,...,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO,NaN,NaN
5164,80457,80457,80457,80457,80457,INCIDENTE GRAVE,-29.695833,-51.081667,NOVO HAMBURGO,RS,...,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,NaN,NaN
5165,80460,80460,80460,80460,80460,INCIDENTE,-25.403333,-49.233611,CURITIBA,PR,...,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,NaN,NaN
5166,80467,80467,80467,80467,80467,INCIDENTE,-9.3675,-40.56361111111,PETROLINA,PE,...,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,NaN,NaN

In [3]:
schema = pa.DataFrameSchema(
    columns = {
        'ocorrencia_dia':pa.Column(pa.DateTime, nullable=True)
    }
)

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista,outras,Unnamed: 23
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,03/07/1987,NaN
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO,NaN,NaN
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO,NaN,NaN
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,***,NaN,NaN,NÃO,NaN,0,1,NÃO,NaN,NaN
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,80458,80458,80458,ACIDENTE,-17.999194,-51.642861,JATAÍ,GO,...,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO,NaN,NaN
5163,80452,80452,80452,80452,80452,ACIDENTE,-22.585556,-50.753889,MARACAÍ,SP,...,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO,NaN,NaN
5164,80457,80457,80457,80457,80457,INCIDENTE GRAVE,-29.695833,-51.081667,NOVO HAMBURGO,RS,...,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,NaN,NaN
5165,80460,80460,80460,80460,80460,INCIDENTE,-25.403333,-49.233611,CURITIBA,PR,...,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,NaN,NaN
5166,80467,80467,80467,80467,80467,INCIDENTE,-9.3675,-40.56361111111,PETROLINA,PE,...,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,NaN,NaN

In [6]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                       object
total_aeronaves_envolvidas                object
ocorrencia_saida_pista                    object
outras                                    object
Unnamed: 23                               object
dtype: object