In [1]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_csv('ocorrencia.csv', sep=',', parse_dates=['ocorrencia_dia'], dayfirst=True)
#df = pd.DataFrame([{'A': 10, 'ocorrencia_dia': '03/07/1987'}])

In [3]:
schema = pa.DataFrameSchema(
    columns = {
        'ocorrencia_dia':pa.Column(pa.DateTime, nullable=True),
        'codigo_ocorrencia':pa.Column(pa.Int),
        'ocorrencia_cidade':pa.Column(pa.String)
    }
)

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,outras,Unnamed: 16
0,52242,52242,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,03/07/1987,NaN
1,45331,45331,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,NaN,NaN
2,45333,45333,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,NaN,NaN
3,45401,45401,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,NaN,NaN
4,45407,45407,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,NaN,NaN
5163,80452,80452,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,NaN,NaN
5164,80457,80457,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,SIM,FINALIZADA,***,NÃO,NaN,NaN,NaN
5165,80460,80460,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,SIM,FINALIZADA,***,NÃO,NaN,NaN,NaN
5166,80467,80467,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,SIM,FINALIZADA,***,NÃO,NaN,NaN,NaN

In [5]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
outras                                    object
Unnamed: 16                               object
dtype: object